
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* Titulos de Contenidos */
.titulo{
  font-family: 'Poppins', sans-serif;
  user-select: none;

  /* color: rgba(100, 148, 237, 0.759); */
  display: grid;
  justify-content: space-around;
  align-items: center;
  width: 96%;
  height: 70px;
  margin: auto;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 15px;
  border-bottom: 1.7px solid rgba(105, 90, 205, 0.267);
  
  /* color: transparent; */
  background-image: linear-gradient( 120deg, #04a5ba 60%, red 30%);
  background-image: linear-gradient( 160deg, #04a5ba 45%, rgb(255, 51, 0) 64%);
  background-clip: text;
}
